<main role="main">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Психология с Яндекс Весна</h1>
            <p>
                Служба Яндекс.Рефераты (ранее Яндекс.Весна) позволяет генерировать случайный текст на заданную тематику. Импользуется для наполнения сайта контентом, что позволяет лучше оценить как он будет выглядеть в будущем.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="https://yandex.ru/referats/" role="button">Яндекс.Рефераты</a>
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>Коллективный код: предсознательное или страх?</h2>
                <p>Личность возможна. Автоматизм, иcходя из того, что сложен. Гендер дает генезис.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Ролевой онтогенез речи: основные моменты</h2>
                <p>Генезис, как справедливо считает Ф.Энгельс, отталкивает эриксоновский гипноз. Социализация, на первый взгляд, притягивает ускоряющийся ассоцианизм. Коллективное бессознательное одинаково иллюстрирует девиантный гештальт. Структурный голод столь же важен для жизни, как и воспитание самопроизвольно.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Ускоряющийся закон — актуальная национальная задача</h2>
                <p>Толпа абсурдно выбирает феноменологический стресс. Ригидность, как принято считать, интегрирует бихевиоризм. Как отмечает Д.Майерс, у нас есть некоторое чувство конфликта, которое возникает с ситуации несоответствия желаемого и действительного, поэтому субъект начинает коллективный тест.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Сублимированный гештальт: методология и особенности</h2>
                <p>Восприятие притягивает методологический психоз, хотя Уотсон это отрицал. Интеллект важно отражает концептуальный бихевиоризм. Компульсивность начинает возрастной тест. Самонаблюдение притягивает конвергентный архетип, что лишний раз подтверждает правоту З.Фрейда.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Конвергентный закон: методология и особенности</h2>
                <p>Гендер выбирает методологический автоматизм. По их почти единодушному мнению, бихевиоризм начинает тест. Ассоцианизм вызывает методологический гендер, Гоббс одним из первых осветил эту проблему с позиций психологии. Гештальт притягивает интеллект. Структурный голод столь же важен для жизни, как и сновидение аннигилирует социальный импульс.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
            <div class="col-md-4">
                <h2>Социометрический архетип: сновидение или восприятие?</h2>
                <p>В связи с этим нужно подчеркнуть, что сознание отталкивает экспериментальный контраст. Предсознательное недоступно просветляет материалистический интеракционизм. По их почти единодушному мнению, ассоцианизм осознаёт психоанализ.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Читать далее »</a></p>
            </div>
        </div>
    </div>
</main>

